---
server_url: "https://vpn.{{ root_domain }}"
listen_addr: "0.0.0.0:8080"
metrics_listen_addr: "127.0.0.1:9090"

noise:
  private_key_path: /var/lib/headscale/noise_private.key

database:
  type: sqlite
  sqlite:
    path: /var/lib/headscale/db.sqlite
    write_ahead_log: true

prefixes:
  v4: 100.64.0.0/10
  v6: fd7a:115c:a1e0::/48
  allocation: sequential

derp:
  server:
    enabled: false
  urls:
    - https://controlplane.tailscale.com/derpmap/default
  paths: []
  auto_update_enabled: true
  update_frequency: 3h

dns:
  magic_dns: true
  base_domain: "ts.{{ root_domain }}"
  override_local_dns: true
  nameservers:
    global:
      - "{{ headscale_server_tailnet_ip | default('', true) or ansible_host }}"

policy:
  mode: file
  path: /etc/headscale/policy.hujson
