[defaults]
inventory = ./inventory/hosts.yml
roles_path = roles/
ssh_args = -o LogLevel=ERROR
host_key_checking = False
interpreter_python = auto_silent

ansible_python_interpreter = /usr/bin/python3
