---
services:
  simon:
    image: alibahmanyar/simon:0.3.1
    container_name: simon
    environment:
      SIMON_SERVE_DIRS: "/fs/home,/fs/var/log,/fs/srv/prod,/fs/srv/dev"
    networks:
      - proxy
    volumes:
      - /sys:/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/fs:ro
      - /etc/os-release:/etc/os-release:ro
      - simon-data:/app/simon-data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.simon.tls=true"
      - "traefik.http.routers.simon.rule=Host(`mon.{{ root_domain }}`)"
      - "traefik.http.routers.simon.entrypoints=https"
      - "traefik.http.routers.simon.service=simon"
      - "traefik.http.routers.simon.middlewares=chain-internal@file"
      - "traefik.http.services.simon.loadbalancer.server.port=30000"

networks:
  proxy:
    external: true

volumes:
  simon-data:
