services:
  docker-in-docker:
    image: docker:dind
    container_name: 'docker_dind'
    privileged: 'true'
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']
    restart: 'unless-stopped'

  runner:
    image: data.forgejo.org/forgejo/runner:12.9.0
    links:
      - docker-in-docker
    depends_on:
      docker-in-docker:
        condition: service_started
    container_name: 'runner'
    user: 1001:1001
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375
    volumes:
      - /srv/prod/forgejo_runner/data:/data
    restart: 'unless-stopped'
    command: 'forgejo-runner daemon --config config.yml'
