---
services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - /srv/prod/paperless/redisdata:/data
    networks: 
      backend:
        ipv4_address: 172.16.238.10

  webserver:
    container_name: paperless
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.14
    restart: unless-stopped
    depends_on:
      - broker
    volumes:
      - /srv/prod/paperless/data:/usr/src/paperless/data
      - /srv/prod/paperless/media:/usr/src/paperless/media
      - /srv/prod/paperless/export:/usr/src/paperless/export
      - /srv/prod/paperless/consume:/usr/src/paperless/consume
    networks:
      proxy:
        aliases:
             - "paperless.jhomelab.net"
      backend:
    environment:
      PAPERLESS_REDIS: redis://172.16.238.10:6379
      PAPERLESS_URL: https://paperless.jhomelab.net
     # PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
     # PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
     #   {
     #     "openid_connect": {
     #       "APPS": [
     #         {
     #           "provider_id": "authentik",
     #           "name": "Authentik",
     #           "client_id": "{{ client_id }}",
     #           "secret": "{{ client_secret }}",
     #           "settings": {
     #             "server_url": "https://sso.jhomelab.net/application/o/paperless/.well-known/openid-configuration"
     #           }
     #         }
     #       ],
     #       "OAUTH_PKCE_ENABLED": "True"
     #     }
     #   }
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.paperless.entrypoints=https"
      - "traefik.http.routers.paperless.rule=Host(`paperless.jhomelab.net`)"
      - "traefik.http.routers.paperless.service=paperless"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless.middlewares=default-headers@file"

networks:
  backend:
    ipam:
      config:
        - subnet: "172.16.238.0/24"
        
  proxy:
    external: true
