---
services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - /srv/prod/paperless/redisdata:/data
    networks: 
      backend:
        ipv4_address: 172.16.238.10

  webserver:
    container_name: paperless
    image: ghcr.io/paperless-ngx/paperless-ngx:3.1.3
    restart: unless-stopped
    depends_on:
      - broker
    volumes:
      - /srv/prod/paperlessngx/data:/usr/src/paperless/data
      - /srv/prod/paperlessngx/media:/usr/src/paperless/media
      - /srv/prod/paperlessngx/export:/usr/src/paperless/export
      - /srv/prod/paperlessngx/consume:/usr/src/paperless/consume
    networks:
      proxy:
        aliases:
            - "paperless.{{ root_domain }}"
      backend:
      database:
    environment:
      PAPERLESS_SECRET_KEY: "{{ paperlessngx_secret_key | replace('$', '$$') }}"
      PAPERLESS_REDIS: redis://172.16.238.10:6379
      PAPERLESS_URL: https://paperless.{{ root_domain }}
      PAPERLESS_DBENGINE: postgresql
      PAPERLESS_DBHOST: postgres
      PAPERLESS_DBNAME: paperless
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPASS: "{{ paperlessngx_db_password | replace('$', '$$') }}"
      PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"SCOPE":["openid","profile","email","groups"],"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"pocketid","name":"Pocket ID","client_id":"{{ paperlessngx_oidc_client_id | replace("$", "$$") }}","secret":"{{ paperlessngx_oidc_client_secret | replace("$", "$$") }}","settings":{"server_url":"https://sso.{{ root_domain }}"}}]}}'
      PAPERLESS_AI_ENABLED: "true"
      PAPERLESS_AI_LLM_BACKEND: "ollama"
      PAPERLESS_AI_LLM_MODEL: "qwen2.5:1.5b"
      PAPERLESS_AI_LLM_ENDPOINT: "http://ollama:11434"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.paperless.tls=true"
      - "traefik.http.routers.paperless.entrypoints=https"
      - "traefik.http.routers.paperless.rule=Host(`paperless.{{ root_domain }}`)"
      - "traefik.http.routers.paperless.service=paperless"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless.middlewares=chain-internal@file"

networks:
  backend:
    ipam:
      config:
        - subnet: "172.16.238.0/24"
  proxy:
    external: true
  database:
    external: true
